.contact{
	padding:6em 0;
	display:flex;
	background: #222;
}
.contact__content{
	display:flex;
	flex:1;
	flex-wrap:wrap;
	padding:0 2em;
	margin:auto;
	justify-content:space-around;
	max-width:1230px;
	color:white;
	h1{
		text-transform: uppercase;
		span{
			margin-right: 1em;
		}
	}
	ul{
		margin-top: 3em;
		color:#666;
		li{
			margin:1em 0;
		}
	}
}
.contact__content_info{
	min-width:224px;
	margin-bottom:2em;
}
.location__ico{
	background:url('/img/pointer.png');
	display:inline-block;
	width: 18px;
	height: 27px;
	background-repeat:no-repeat;
	background-size: cover;
}